.question-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question-input-answer {
  fill: #252525;
  color: #252525;
  width: auto;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Mont-Regular";
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  text-transform: uppercase;
  background-color: transparent;
}
.question-text {
  color: #252525;
  display: inline-block;
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  font-family: "Mont-Regular";
}
